*,
*::after,
*::before {
 box-sizing: border-box;
}

body{
    /* font-family: "Montserrat", sans-serif; */
    font-family: "Noto Sans Thai Looped", sans-serif;
    color: #242121;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1.65px;
    color: #242121;
    padding-bottom: 18px;
    align-self: flex-start;
    position: relative;
}

.title::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #F96400;
    bottom: 0;
    left: 0;
}
 
.button{
    display: inline-block;
    
    color: #FFFFFF;
    font-size: 32px;
    line-height: 36px;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.3s;
    text-transform: uppercase;
    padding: 19px 100px 19px 40px;
    max-width: 292px;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #040548;
    
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.logo span{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
}

.header__top{
    /* background-color: #FB7711; */
    /* background-color: #5FC5A0; */
    padding: 18px 0;
    background: linear-gradient(to right, #FF972D, #F96400);

}


.menu__list{
    display: flex;
    gap: 45px;
    
}

.menu__list-link{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-weight: bold;
    transition: all 0.3s;
    text-transform: uppercase;
}

.menu__list-link:hover{
    border-bottom: 2px solid #040548;
}


.translate__en,
.translate__ua,
.phone__link,
.translate-slash {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: SemiBold;
    transition: all 0.3s;
}

.translate__en:hover,
.translate__ua:hover {
    border-bottom: 2px solid #040548;
}


.phone__link{
    position: relative;
}

.phone__link::before{
    content: "";
    background-image: url('../images/phone.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.header__content{
    background-color: #040548;
    color: #FFFFFF;
    min-height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}


.header__content-inner{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* padding: 50px 0; */
}

.header__content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__title{
    font-size: 44px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 36px;
    letter-spacing: 0.2px
}

.header__subtitle{
    font-size: 32px;
    line-height: 34px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}


.header__content-item{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: 0.2px;
    /* text-transform: capitalize; */
    margin-bottom: 16px;
    padding-left: 50px;
    position: relative;
}

.header__content-item::before {
    content: "";
    background-image: url('../images/header-mark.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
}

.header__content-about p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-top: 20px;
    max-width: 436px;
    text-align: end;
    /* text-decoration: underline; */
}

.button-orange{
    background: linear-gradient(to right, #FF972D, #F96400);
    position: relative;
}

.button::after {
    content: "";
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 50px;
    top: 30px ;
    /* transform: translateY(-50%); */
    width: 30px;
    height: 20px;
}



.pricing {
    padding: 145px 0 160px;
    background-color: #040548;
}

.pricing__title {
    margin-bottom: 90px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 46px;
    font-weight: semi-bold;
    letter-spacing: 0.4px;
}

.pricing__items {
    display: flex;
    justify-content: space-between;


}


ul.pricing__item {
    background-color: white;
    padding: 24px 25px 5px;
    text-align: center;
    width: 285px;
    border: 3px solid #5FC5A0;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.pricing__item li {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #242121;
    margin-bottom: 30px;
}

.pricing__item .pricing__item-name {
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
    color: #242121;
}

.pricing__item-name{
    position: relative;
    padding-left: 50px;
    /* text-align: center; */
    
}

.pricing__item-name::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 40px;
    height: 45px;
    
}


.pricing__item-kids::before {
    background-image: url(../images/price/item-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.pricing__item-adults::before {
    background-image: url(../images/price/item-2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.pricing__item-individ::before {
    background-image: url(../images/price/item-3.png);
    background-repeat: no-repeat;
    background-position: center;
}

.pricing__item-programing::before {
    background-image: url(../images/price/icons8-ноутбук-45.png);
    background-repeat: no-repeat;
    background-position: center;
}


.pricing__item .pricing__item-num {
    font-weight: 300;
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 50px;
    color: #FF972D;
    /* text-transform: uppercase; */
}

sup {
    font-size: 28px;
    line-height: 30px;
    color: #FF972D;
}

.pricing__item-link {
    margin-top: 70px;
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.2px;
    text-decoration: none;
    color: #242121;
}


































.slider-blog {
    background-color: #F8F6FA;
    padding: 115px 0;
}

.slider-blog__item {
    padding: 190px 0;
}

.slider-blog__item__title {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    color: #242121;
    max-width: 656px;
    margin-bottom: 10px;
}

.slider-blog__item-descr {
    max-width: 580px;
}

.slick-dots {
    display: flex;
}

.slick-dots button {
    background-color: #242121;
    opacity: 0.4;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    border: none;
}

.slick-dots li+li {
    margin-left: 13px;
}

.slick-active button {
    opacity: 1;
    width: 10px;
    height: 10px;
    transform: translateY(-2px);
}

.slick-prev,
.slick-next {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.slick-prev {
    left: -95px;
}

.slick-next {
    right: -95px;
}

.slider-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}





















